.guruh{
    color:#F49366 ;
    border: 15px solid cyan;
    text-transform: capitalize;
    border-radius:10px 20px;
    text-align: center;
    padding: 20px 50px;
    margin: 100px 200px;
    
}
.guruh:hover{
color:;
background-color:#006262;
border-radius:30px 45px;
transition:1s;
padding:80px;
margin: 50px;
}